body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(0, 121, 191);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  overflow: auto;
  /* height: 100%; */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
.styles_overlay__CLSq- {
  background-color: transparent;
  /* opacity: 0.4; */
}
.styles_modal__gNwvD {
  margin-top: 10em;
  width: 80%;
  max-height: 60%;
  overflow: auto;
  background-color: #ebecf0;
  border-radius: 0.7em;
}
.cards-button {
  display: flex;
  justify-content: space-between;
}
.checkLists {
  margin-top: 2em;
}
.input-checkList {
  padding: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  margin-right: 3em;
  height: 3em;
  border: none;
  word-break: break-all;
}
.input-checkItem {
  padding: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  /* margin-right: 3em; */
  height: 2em;
  border: none;
  word-break: break-all;
}
.input-list {
  padding: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  margin-bottom: 1em;
  border: none;
  word-break: break-all;
}
.input-card {
  padding: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  margin-bottom: 1em;
  border: none;
  word-break: break-all;
}
